<!DOCTYPE html>
<html ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>ACTUALIZAR AVALES Y REPRESENTANTES DE CLIENTES</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/actualizarAvalesRepresentantesJS.js"></script>

</head>

<body>


<div class=lblTitleHea>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BANCO SANTANDER (MÉXICO), S.A.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TESORERÍA

<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ACTUALIZACIÓN DE AVALES Y REPRESENTANTES DE CLIENTES
</div>


<form action="" name="ActAvalesRepres">


<div ng-controller="myControllerActAvalesRepres" align="left">

<br/>
<br/>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ESTADO DEL CLIENTE&nbsp;&nbsp;&nbsp;
<input name="edoCte" type="text" ng-model="edoCte" size="5"  placeholder=" {{objeto.actAvalesRepres.edo_cliente}} " />

<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CLAVE&nbsp;&nbsp;&nbsp;
<input name="clave" type="text" ng-model="greeting"  placeholder=" {{objeto.actAvalesRepres.clave}} " />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
NOMBRE&nbsp;&nbsp;&nbsp;
<input name="nombre" type="text" size="50" ng-model="ctes"  placeholder=" {{objeto.actAvalesRepres.nombre}} " />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
TIPO DE PERSONA&nbsp;&nbsp;&nbsp;
<input name="tipPers" type="text" ng-model="tipoP" size="9"  placeholder=" {{objeto.actAvalesRepres.tipo_persona}} " /> 
<br/><br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
APELLIDO PATERNO&nbsp;&nbsp;&nbsp;
<input name="apPat" type="text" ng-model="ApPat"  placeholder=" {{objeto.actAvalesRepres.ap_paterno}} " /> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
APELLIDO MATERNO&nbsp;&nbsp;&nbsp;
<input name="apMat" type="text" ng-model="ApMat"  placeholder=" {{objeto.actAvalesRepres.ap_materno}} " /> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
R.F.C.&nbsp;&nbsp;&nbsp;
<input name="rfc" type="text" ng-model="user.rfc" ng-maxlength="13" required  placeholder=" {{objeto.actAvalesRepres.rfc}} " /> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span style="color: red;" ng-show = "index.rfc.$touched && index.rfc.$invalid">
	El RFC es requerido a máximo 13 caracteres.
</span>

<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
C.U.R.P.
&nbsp;&nbsp;&nbsp;
<input name="curp" type="text" ng-model="curp"  placeholder=" {{objeto.actAvalesRepres.curp}} " />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CÉDULA
&nbsp;&nbsp;&nbsp;
<input name="cedula" type="text" ng-model="cedula"  placeholder=" {{objeto.actAvalesRepres.cedula}} " />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
FECHA DE CONTACTO
&nbsp;&nbsp;&nbsp;
<input name="fecContac" type=date id=dt  placeholder=" {{objeto.actAvalesRepres.fecha_contac}} " >


<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CLAVE PROMOTOR
&nbsp;&nbsp;&nbsp;
<input name="cveProm" type="text" ng-model="cve" size="5"  placeholder=" {{objeto.actAvalesRepres.cve_prom}} " /> 
<input name="promotor" type="text" ng-model="promotor" size="30"  placeholder=" {{objeto.actAvalesRepres.promotor}} " />

<br/><br/>



<br/><br/>

</div>

</form>



<br/>

<div align="left">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
DATOS DE REPRESENTANTES Y AVALES
&nbsp;&nbsp;&nbsp;
<select name="tipoID">
   <option value="0">REPRESENTANTES DE CLIENTE</option> 
   <option value="1">AVALES, OBLIGADOS u OTORGANTES DE GARANTÍAS</option> 
</select> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
</div>


<br/>
<div align="center">
	<button  type="button" id="F1" title="Para Representantes y Avales haga clic aquí" name="btnF1" value=" ">REPRESENTANTES Y AVALES</button>
</div>


</body>
</html>