<!DOCTYPE html>
<html ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>AUTORIZACION DE DISPOSICIONES</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/autorizaDisposicionJS.js"></script>

</head>

<body>



	
<br/>
<div class=lblTitleHea>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BANCO SANTANDER (MÉXICO), S.A.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CARTERA
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
AUTORIZACIÓN DE DISPOSICIONES

<br/>
<br/>
</div>	
	
<form action="" name="AutDisp">


<div ng-controller="myControllerAutorizaDisp" align="left">

<br/> 
<br/>
	
	<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DISPOSICIÓN:&nbsp;&nbsp;
<input name="disp" type="text" size="5" ng-model="ctes"  placeholder=" {{objeto.autorizaDisp.disposicion}} " />
				 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 
FECHA: &nbsp;&nbsp;
<input name="fecha" type="text" ng-model="greeting"	size="10"  placeholder=" {{objeto.autorizaDisp.fecha}} "  />
				
				 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 
MONTO: &nbsp;&nbsp;
<input name="monto" type="text" ng-model="greeting" size="30"  placeholder=" {{objeto.autorizaDisp.monto}} " />
								
<br />
<br />
	
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
COTIZACIÓN:&nbsp;&nbsp;
<input name="cotizacion" type="text" size="5" ng-model="ctes"  placeholder=" {{objeto.autorizaDisp.cotizacion}} " /> 
<br />
<br />				
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CONTRATO:&nbsp;&nbsp;
<input name="contrato" type="text" size="5" ng-model="ctes"  placeholder=" {{objeto.autorizaDisp.contrato}} "  />
				
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ANEXO: &nbsp;&nbsp;
<input name="anexo" type="text" ng-model="greeting" size="30"  placeholder=" {{objeto.autorizaDisp.anexo}} " />
<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;				
LÍNEA DISPONIBLE:&nbsp;&nbsp; 
<input name="kinDisp" type="text" ng-model="greeting" size="30"  placeholder=" {{objeto.autorizaDisp.linea_disp}} " /> 
				
<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;				
MONTO ANTICIPOS:&nbsp;&nbsp; 
<input name="monAntic" type="text" ng-model="greeting" size="30"  placeholder=" {{objeto.autorizaDisp.monto_antic}} " /> 				
	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
MONTO DESCONTAR:&nbsp;&nbsp;&nbsp;
<input name="monDesc" type="text" ng-model="edoCte" size="30"  placeholder=" {{objeto.autorizaDisp.monto_desc}} "  /> 
				
<br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
MONTO A BONIFICAR:
<input	name="monBon" type="text" size="30" ng-model="cvebuc" ng-pattern="/^[0-9]{1,8}$/" ng-minlength="8" ng-maxlength="8"
				required  placeholder=" {{objeto.autorizaDisp.monto_bonif}} " /> <span style="color: red;"
				ng-show="index.buc.$touched && index.buc.$invalid"> MONTO es
				requerido a 8 posiciones. </span>				
				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
MONTO A RECUPERAR:&nbsp;&nbsp;&nbsp;
<input name="monRec" size="30" type="text" ng-model="greeting"  placeholder=" {{objeto.autorizaDisp.monto_recup}} " />
			
			<br /> <br /> 
			
</div>


</form>
			
			<br /> <br /> 

	<br />
	<div align="center">
		<button type="button" id="F1" title=""
			name="btnF1" value=" ">VER COTIZACIÓN</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button" id="F1" title=""
			name="btnF1" value=" ">CONTRATO</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button" id="F1" title=""
			name="btnF1" value=" ">PAGO OPERACIÓN</button>						
	</div>



</body>
</html>