<!DOCTYPE html>
<html data-ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>CONSULTA DE DOCUMENTOS COBRADOS</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/consultaDoctosCobradosJS.js"></script>

</head>

<body>


<br/>
<div class=lblTitleHea>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BANCO SANTANDER (MÉXICO), S.A.
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CARTERA
<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONSULTA DE DOCUMENTOS COBRADOS

</div>	

<br/>


<form action="" name="ConsDoctosCobr">


<div ng-controller="ControllerConsDoctosCobr" align="center">

			<input type="text" ng-model="greetings" size="10"  placeholder=" {{objeto.consDoctosCobr.campo_1}} "  />
			<input type="text" ng-model="gra1" size="60"  placeholder=" {{objeto.consDoctosCobr.campo_2}} " />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			A PARTIR DEL: 
			<input type="text" ng-model="gra1" size="20"  placeholder=" {{objeto.consDoctosCobr.a_partir}} "  />

<br/>



<br/>
<br/>


	
	ANEXO PAGO
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	DOCUMENTO
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	FOLIO
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	TRANSAC.
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	MONEDA


	<table>	
		
		<tr>
			<td><input type="text" ng-model="gra1" size="2"  placeholder=" {{objeto.consDoctosCobr.celda_1A}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5"  placeholder=" {{objeto.consDoctosCobr.celda_1B}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5"  placeholder=" {{objeto.consDoctosCobr.celda_1C}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_1D}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_1E}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_1F}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_1G}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_1H}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_1I}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_1J}} "  /></td>
		</tr>


		<tr>
			<td><input type="text" ng-model="gra1" size="2" placeholder=" {{objeto.consDoctosCobr.celda_2A}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_2B}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_2C}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_2D}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_2E}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_2F}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_2G}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_2H}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_2I}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_2J}} "  /></td>
		</tr>
		
		<tr>
			<td><input type="text" ng-model="gra1" size="2" placeholder=" {{objeto.consDoctosCobr.celda_3A}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_3B}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_3C}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_3D}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_3E}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_3F}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_3G}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_3H}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_3I}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_3J}} "  /></td>
		</tr>
		
		<tr>
			<td><input type="text" ng-model="gra1" size="2" placeholder=" {{objeto.consDoctosCobr.celda_4A}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_4B}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_4C}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_4D}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_4E}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_4F}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_4G}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_4H}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_4I}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_4J}} "  /></td>
		</tr>
		
		<tr>
			<td><input type="text" ng-model="gra1" size="2" placeholder=" {{objeto.consDoctosCobr.celda_5A}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_5B}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_5C}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_5D}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_5E}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_5F}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_5G}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_5H}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_5I}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_5J}} "  /></td>
		</tr>
		
		<tr>
			<td><input type="text" ng-model="gra1" size="2" placeholder=" {{objeto.consDoctosCobr.celda_6A}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_6B}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_6C}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_6D}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_6E}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_6F}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_6G}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_6H}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_6I}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_6J}} "  /></td>
		</tr>
		
		<tr>
			<td><input type="text" ng-model="gra1" size="2" placeholder=" {{objeto.consDoctosCobr.celda_7A}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_7B}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_7C}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_7D}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_7E}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_7F}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_7G}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_7H}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_7I}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_7J}} "  /></td>
		</tr>
		
		<tr>
			<td><input type="text" ng-model="gra1" size="2" placeholder=" {{objeto.consDoctosCobr.celda_8A}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_8B}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_8C}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_8D}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_8E}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_8F}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_8G}} "  /></td>
			<td><input type="text" ng-model="gra1" size="5" placeholder=" {{objeto.consDoctosCobr.celda_8H}} "  /></td>
			<td><input type="text" ng-model="gra1" size="3" placeholder=" {{objeto.consDoctosCobr.celda_8I}} "  /></td>
			<td><input type="text" ng-model="gra1" size="20" placeholder=" {{objeto.consDoctosCobr.celda_8J}} "  /></td>
		</tr>												
		
						
	</table>
	
</div>


</form>



<br/>
<br/>
<div align="center">
	<button  type="button" id="F1" title="Aceptar cambios" name="btnF1" value=" ">APLICACIÓN</button>
</div>


</body>
</html>