<!DOCTYPE html>
<html data-ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>DATOS PERSONA MORAL</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/datosPersonaMoralJS_2.js"></script>

</head>

<body>

<form action="" name="DatosPersonaMoral2">


<div ng-controller="myControllerDatPersMoral2" align="left">

<br/>
<br/>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
PERTENENCIA A ALGÚN GRUPO&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="2"  placeholder=" {{objeto.datPersMoral2.perten_grupo}} "  />
<br/>
<br/>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CLAVE DE SECTOR&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="10"  placeholder=" {{objeto.datPersMoral2.cve_sector}} "  />
<input type="text" ng-model="greeting" size="70" placeholder=" {{objeto.datPersMoral2.sector}} "  />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No. DE ESCRITURA&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="10"   placeholder=" {{objeto.datPersMoral2.num_escritura}} " />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
FECHA DE ESCRITURA&nbsp;&nbsp;&nbsp;
<input type="text" ng-model="greeting" size="10"  placeholder=" {{objeto.datPersMoral2.fecha_escritura}} "  />


<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No. DE NOTARIO&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="10"   placeholder=" {{objeto.datPersMoral2.num_notario}} " />


<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
NOMBRE DE NOTARIO&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="60"   placeholder=" {{objeto.datPersMoral2.nom_notario}} " />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
LUGAR DE NOTARIO&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="60"  placeholder=" {{objeto.datPersMoral2.lugar_notario}} "  />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
REGISTRO PÚBLICO&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="60"  placeholder=" {{objeto.datPersMoral2.reg_publico}} "  />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
LUGAR DE REGISTRO&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="60"  placeholder=" {{objeto.datPersMoral2.lugar_registro}} "  />



<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
OBSERVACIONES

<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="5"   placeholder=" {{objeto.datPersMoral2.observ_1A}} " />
<input name="buc" type="text" ng-model="loc"  size="50"  placeholder=" {{objeto.datPersMoral2.observ_1B}} "  />

<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="5"   placeholder=" {{objeto.datPersMoral2.observ_2A}} " />
<input name="buc" type="text" ng-model="loc"  size="50"   placeholder=" {{objeto.datPersMoral2.observ_2B}} " />


<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="5"  placeholder=" {{objeto.datPersMoral2.observ_3A}} "  />
<input name="buc" type="text" ng-model="loc"  size="50"   placeholder=" {{objeto.datPersMoral2.observ_3B}} " />

<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="5"   placeholder=" {{objeto.datPersMoral2.observ_4A}} " />
<input name="buc" type="text" ng-model="loc"  size="50"  placeholder=" {{objeto.datPersMoral2.observ_4B}} "  />

<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="buc" type="text" ng-model="loc"  size="5"  placeholder=" {{objeto.datPersMoral2.observ_5A}} "  />
<input name="buc" type="text" ng-model="loc"  size="50"  placeholder=" {{objeto.datPersMoral2.observ_5B}} "  />

</div>



<br/>
<br/>
<div align="center">
	<button  type="button" id="F1" title="Aceptar cambios" name="btnF1" value=" ">COPIAR DATOS A OTRO CLIENTE MORAL</button>
</div>

</form>

</body>
</html>