<!DOCTYPE html>
<html data-ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>PAGE_5</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/page5JS.js"></script>

</head>

<body>

<form action="" name="Page5">


<div ng-controller="ControllerPage5" align="left">

<br/>
<br/>



<table style="width: 100%;">

	<tr align="center">
		<td>
			<label>RENTA</label> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label>IVA</label>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			
			<label>IVA CAPITAL</label> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;			
			<label>TOTAL</label>			
		</td>
	</tr>

	<!-- INSERTAR AQUÍ BLOQUE DE 6 COLUMNAS MÁS POR SI LA TABLA INCLUYE LAS 10 SEGÚN PAGE_5 DE DOC. MANUAL DE USUARIO -->
	<!-- PÁGINAS 32 Y 33... -->

	<tr>
		<td>
			<input type="text" size="40" ng-model="renta1" placeholder=" {{ objeto.page5.A1 }}" />  
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.A2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.A3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.A4 }}" />			
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.B1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.B2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.B3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.B4 }}" />		
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.C1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.C2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.C3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.C4 }}" />
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.D1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.D2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.D3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.D4 }}" />	
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.E1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.E2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.E3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.E4 }}" />
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.F1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.F2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.F3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.F4 }}" />	
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.G1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.G2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.G3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.G4 }}" />
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.H1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.H2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.H3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.H4 }}" />	
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.I1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.I2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.I3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.I4 }}" />
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.J1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.J2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.J3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.J4 }}" />	
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.K1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.K2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.K3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.K4 }}" />	
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.L1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.L2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.L3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.L4 }}" />
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.M1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.M2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.M3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.M4 }}" />	
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.N1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.N2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.N3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.N4 }}" />
		</td>
	</tr>
	
	<tr>
		<td>
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.O1 }}"/> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.O2 }}" />
			<input type="text" size="40" ng-model="ctes"  placeholder=" {{ objeto.page5.O3 }}" /> 
			<input type="text" ng-model="greeting" size="40"  placeholder=" {{ objeto.page5.O4 }}" />	
		</td>
	</tr>	
					

</table>


	</div>

</form>


</body>
</html>