<!DOCTYPE html>
<html data-ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>PAGE_2</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/page02JS.js"></script>


</head>

<body>


<br/>



<form action="" name="Pag02">


<br/>
<br/>

<div ng-controller="myControllerPagina02" align="center">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
COTIZACIÓN&nbsp;&nbsp;&nbsp;
<input name="cotiz" type="text" ng-model="greetings" size="35"  placeholder=" {{objeto.pagina02.cotizac}} " />

<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
TABLA DE AMORTIZACIÓN&nbsp;&nbsp;&nbsp;
<input name="amort" type="text" ng-model="cte" size="35"  placeholder=" {{objeto.pagina02.tabla_amortizac}} " />

<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CONTINUAR&nbsp;&nbsp;&nbsp;
<input name="cont" type="text" ng-model="greet" size="35" placeholder=" {{ objeto.pagina02.contin}}" />

</div>


</form>



</body>
</html>