<!DOCTYPE html>
<html ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>PARÁMETRO DE REPORTES R0000013</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/parametroReportes_2JS.js"></script>

</head>

<body>

<form action="">



<br/>
<br/>


<br/>
<br/>

<label>PARÁMETROS DE REPORTE</label>

<br/>
<br/>

<label>INGRESE EL VALOR DE CADA PARÁMETRO</label>

<br/>
<br/>



<div ng-controller="myControllerParamReportes" align="center">
	
	<table>	

		<tr>
			<td>TIPO DE DESTINO</td>
			<td>
				<select name="tipoID">
   					<option value="PANTALLA">PANTALLA</option> 
   					<option value="IMPRESORA">IMPRESORA</option> 
				</select>			
			</td>
		</tr>
		
		<tr>
			<td>NOMBRE DEL DESTINO</td>
			<td><input type="text" ng-model="gra1" size="30"  placeholder=" {{objeto.paramReportes.nombre_destino}} "  /></td>
		</tr>

		<tr>
			<td>FORMATO DEL DESTINO</td>
			<td><input type="text" ng-model="gra1" size="30"  placeholder=" {{objeto.paramReportes.formato_destino}} "  /></td>
		</tr>

		
		<tr>
			<td>NÚMERO DE COPIAS</td>
			<td><input type="text" ng-model="gra2" size="30"   placeholder=" {{objeto.paramReportes.num_copias}} "  /></td>
		</tr>
		
		<tr>
			<td>COTIZACIÓN</td>
			<td><input type="text" ng-model="gra3" size="30"  placeholder=" {{objeto.paramReportes.cotizacion}} "  /></td>
		</tr>
						
	</table>
	
	
	
	
	
</div>

</form>


<br/>
<br/>
<div align="center">
	<button  type="button" id="F1" title="Aceptar cambios" name="btnF1" value=" ">ACEPTAR</button>
</div>


</body>
</html>