<!DOCTYPE html>
<html ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>PASSWORD DE SEGURIDAD</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/pswdSegJS.js"></script>

</head>

<body>

	<br />
	<br /> 
	<br />
	<br /> 
	<br />
	<br /> 
	<br />
	<br /> 
	
	<br />
	<br /> 				
	
	
<form action="" name="userPswd">


<div ng-controller="myControllerPswdSeg" align="center">

<br/>
<br/>

	
USUARIO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input name="usuario" type="text" size="10" ng-model="ctes"  placeholder=" {{objeto.pswdSeg.user}} " />		 

				
<br />
<br />



PASSWORD&nbsp;&nbsp;&nbsp;&nbsp;
		<input name="password" type="text" size="10" ng-model="ctes"  placeholder=" {{objeto.pswdSeg.pswd}} "  />		 		 
	
	
	</div>

<br />
<br />

</form>		

</body>
</html>