<!DOCTYPE html>
<html data-ng-app="moduloMain">
<head>
<meta charset="ISO-8859-1">
<title>REPRESENTANTES DE CLIENTE</title>
<link rel="stylesheet" href="../css/apl_1.css"/>
<script src="../lib/angular.js"></script>
<script src="../js/representantesDeClienteJS.js"></script>

</head>

<body>



<form action="" name="ReprCliente">


<div ng-controller="myController" align="left">

<br/>
<br/>

<div ng-controller="myControllerRepresentCliente">


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No.&nbsp;&nbsp;&nbsp;
<input name="numCte" type="text" ng-model="loc"  size="2"  placeholder=" {{objeto.representCliente.num_cte}} "  />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
NOMBRE&nbsp;&nbsp;&nbsp;
<input name="nomCte" type="text" ng-model="greeting" size="70"  placeholder=" {{objeto.representCliente.nombre_cte}} " />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
TIPO DE PODER&nbsp;&nbsp;&nbsp;
<input name="tipoPoder" type="text" ng-model="loc"  size="10"  placeholder=" {{objeto.representCliente.tipo_poder}} "  />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
R.F.C.&nbsp;&nbsp;&nbsp;
<input name="rfc" type="text" ng-model="greeting" size="10"  placeholder=" {{objeto.representCliente.rfc}} " />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
NACIONALIDAD&nbsp;&nbsp;&nbsp;
<input name="nacionalidad" type="text" ng-model="loc"  size="10"  placeholder=" {{objeto.representCliente.nacionalidad}} "  />


<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CARTA DE NATURALIZACIÓN&nbsp;&nbsp;&nbsp;
<input name="cartaNatur" type="text" ng-model="loc"  size="40"   placeholder=" {{objeto.representCliente.carta_naturalizacion}} " />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
FECHA NACIMIENTO&nbsp;&nbsp;&nbsp;
<input name="fecNac" type="text" ng-model="loc"  size="10"  placeholder=" {{objeto.representCliente.fec_nac}} "  />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
LUGAR DE NACIMIENTO&nbsp;&nbsp;&nbsp;
<input name="lugarNac" type="text" ng-model="loc"  size="60"   placeholder=" {{objeto.representCliente.lugar_nac}} " />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ENTIDAD&nbsp;&nbsp;&nbsp;
<input name="cveEntidad" type="text" ng-model="loc"  size="6"   placeholder=" {{objeto.representCliente.cve_entidad}} " />
<input name="entidad" type="text" ng-model="loc"  size="60"   placeholder=" {{objeto.representCliente.entidad}} " />


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ESTADO CIVIL&nbsp;&nbsp;&nbsp;
<input name="edoCivil" type="text" ng-model="loc"  size="10"  placeholder=" {{objeto.representCliente.edo_civil}} "  />


<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
PROFESIÓN&nbsp;&nbsp;&nbsp;
<input name="profesion" type="text" ng-model="loc"  size="40"   placeholder=" {{objeto.representCliente.profesion}} " />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CALLE&nbsp;&nbsp;&nbsp;
<input name="calle" type="text" ng-model="loc"  size="40"  placeholder=" {{objeto.representCliente.calle}} "  />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No. EXT.&nbsp;&nbsp;&nbsp;
<input name="numExt" type="text" ng-model="loc"  size="10"  placeholder=" {{objeto.representCliente.num_ext}} "  />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No. INT.&nbsp;&nbsp;&nbsp;
<input name="numInt" type="text" ng-model="loc"  size="10"  placeholder=" {{objeto.representCliente.num_int}} "  />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
COLONIA&nbsp;&nbsp;&nbsp;
<input name="colonia" type="text" ng-model="loc"  size="40"   placeholder=" {{objeto.representCliente.colonia}} " />


<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
C.P.&nbsp;&nbsp;&nbsp;
<input name="cp" type="text" ng-model="loc"  size="10"   placeholder=" {{objeto.representCliente.cp}} " />



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ENTIDAD&nbsp;&nbsp;&nbsp;
<input name="cveEnt2" type="text" ng-model="loc"  size="6"   placeholder=" {{objeto.representCliente.cve_entidad2}} " />
<input name="ent2" type="text" ng-model="loc"  size="60"   placeholder=" {{objeto.representCliente.entidad2}} " />

<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CIUDAD&nbsp;&nbsp;&nbsp;
<input name="ciudad" type="text" ng-model="loc"  size="40"   placeholder=" {{objeto.representCliente.ciudad}} " />



</div>

</div>

</form>


</body>
</html>